{% extends 'base.html' %}
{% load static %}

{% block title %}
    About Me
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
{% endblock css %}

{% block content %}
    <h1>This is the About Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, debitis quisquam obcaecati consequuntur facilis facere! Labore ullam iusto suscipit eos aspernatur pariatur ab sint harum quam illum cum unde optio, blanditiis fugit, tempora quaerat repellendus enim consectetur rerum magnam? Ex quisquam quam, error magnam consequuntur explicabo repellat quis aliquid assumenda?</p>
{% endblock content %}